@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #7ca2f4;
    --brand-color1: rgba(124, 162, 244, 0.459);
    --dark: #121214;

    --gray: #f3f7ff;
    --white: #ffffff;
}

body {
    font-family: "Archivo", sans-serif;
}
.tema{
    display: flex;
    justify-content: flex-start;
    border: none;
    margin: 8px 0 10px 30px;
  
   border-radius: 50px;
    background-color: rgba(216, 221, 233, 0.459);
}
.nav-bar {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 12px;
    text-align: center;
    color: var(--dark);
    
}

h2,
p {
    color: var(--white);
    padding-bottom: 15px;
}

.description {
    background-image: url(../Desafio\ 02/img/image-michael-jordan.png);
    padding: 150px;
    margin-top: 20px;
    min-width: 300px;

}

.title,
.des,
.name {
    color: var(--dark);
    padding: 10px;
    text-align: center;
}

.container-info {
    text-align: center;
    margin: 80px;
}

.descricao {
    color: var(--brand-color);
    padding: 10px;
    text-align: center;
}

/* .trio {
    display: grid;
    grid-template-columns: repeat(0, 1fr);
    grid-auto-flow: 200px;
} */


.logo {
    padding-bottom: 30px;
}


.trio {
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* gap: 30px; */
    /* grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: 200px; */
    /* display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr)); */
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px 13px;
}

.container-info-content {
    margin: 150px;
}

.product_img {
    background-color: var(--gray);
    width: 100%;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.product_img img {
    transition: .3s ease-in-out;
}

.produto:hover .product_img img {
    /* height: 200px;
    justify-content: center; */
    transform: scale(1.1);
}

.valor {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 30px;
}

.content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
.name{
    width: 200px;
}
.Tema{
 background-color: var(--dark);
.nav-bar{
    color: var(--white);
}
.name{
    color: var(--brand-color);
}
.descricao{
    color: var(--white);
}
.valor{
    color: var(--white);
}
.product_img{
    background-color: var(--brand-color1);
     filter: drop-shadow(0 0 100px rgba(124, 162, 244, 0.5));
}
.title, .des{
    color: #7ca2f4;
  
   
}

}